{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="POST">
  <div>
    <label for="title">Title:</label>
    {{with .Form.FieldErrors.title}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type="text" id="title" name="title" value="{{.Form.Title}}">
  </div>
  <div>
    <label for="">Content:</label>
    {{with .Form.FieldErrors.content}}
      <label class="error">{{.}}</label>
    {{end}}
    <textarea type="text" id="content" name="content">{{.Form.Content}}</textarea>
  </div>
  <div>
    <label>Delete In:</label>
    {{with .Form.FieldErrors.expires}}
      <label class="error">{{.}}</label>
    {{end}}
    <input type="radio" name="expires" value="365" {{if (eq .Form.Expires 365)}}checked{{end}}> One Year
    <input type="radio" name="expires" value="7" {{if (eq .Form.Expires 7)}}checked{{end}}> One Week
    <input type="radio" name="expires" value="1" {{if (eq .Form.Expires 1)}}checked{{end}}> One Day
  </div>
  <div>
    <input type="submit" value="Publish snippet">
  </div>
</form>
{{end}}